#page-login {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
}

#page-login img {
    height: 100vh;
}

#login-form-container {
    align-items: center;
    margin: 0 auto;
    width: 24%
}

#login-form-container fieldset {
    border: 0;
    margin-top: 200px
}

#login-form-container legend {
    margin-bottom: 3rem;
    font: 700 1.6rem Poppins;
    font-size: 4rem
}

#login-form-container input {
    width: 100%;
    height: 7rem;
}

#login-form-container form footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#login-form-container form footer a{
    margin-top: 2rem;
    text-decoration: none;
    color: var(--color-text-complement);
}

#login-form-container form footer div{
    margin-top: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

#login-form-container form footer div input{
    margin-right: 10px;
    width: 20px;
}

#login-form-container form button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#login-form-container #signup {
    padding-top: 240px
}

#login-form-container #signup a{
    color: var(--color-primary);
    font: 700 1.8rem Archivo;
    text-decoration: none;
    cursor: pointer;
}

