#page-forgot-password {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
}

#page-forgot-password .forgot-password-go-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
}

#page-forgot-password .forgot-password-go-back a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

#page-forgot-password .forgot-password-go-back a:hover {
    opacity: 0.6;
}

#forgot-password-form-container {
    align-items: center;
    margin: 0 auto;
    width: 26%;
    height: 100%;
}

#forgot-password-form-container fieldset {
    border: 0;
}

#forgot-password-form-container legend {
    margin-bottom: 3rem;
    font: 700 1.6rem Poppins;
    font-size: 4rem;
}

#forgot-password-form-container input {
    width: 100%;
    height: 7rem;
}

#forgot-password-form-container form {
    padding-top: 35%; 
}

#forgot-password-form-container form  p {
    color: var(--color-text-complement);
    font: 500 2rem Poppins;
    margin-bottom: 40px;
}

#forgot-password-form-container form button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#page-forgot-password .image-proffy-logo {
    height: 100vh;
    object-fit: cover;
    width: 50%;
}

@media (max-width: 1240px) 
{

    #forgot-password-form-container{
        width: 35%;
    }
}

@media (max-width: 740px) 
{
    #page-forgot-password .image-proffy-logo
    {
        display: none;
    }

    #forgot-password-form-container{
        width: 80%;
    }

    #forgot-password-form-container form {
        padding-top: 20%; 
    }
}


@media(max-height: 615px) {
    #page-forgot-password .image-proffy-logo
    {
        display: none;
    }

    #forgot-password-form-container{
        width: 60%;
    }

    #forgot-password-form-container form {
        padding-top: 10%; 
    }
}
